.header_socials {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  left: 0;
  bottom: 30rem;
  font-size: large;
  justify-content: center;
  margin-bottom: 90px;
  position: absolute;
  columns: 30px;
  rotate: -90deg;
}

.header_socials::after {
  content: "";
  width: 100px;
  height: 2px;
  background: var(--color-primary);
  border-radius: 10px;
}
.header_socials::before {
  content: "";
  width: 100px;
  height: 2px;
  background: var(--color-primary);
  border-radius: 10px;
}
